html
  head
    title= title
  body
    h1= cashout
    p= details
    h3= btc
    ul
      li= bitfinexBuyBTC
      li= binanceBuyBTC
      li= krakenBuyBTC
    h3= eth
    ul
      li= binanceBuyETH
    h3= dash
    ul
      li= krakenSellDash
    h1= markets
    h3= binance
    ul
      li= dashbtc
      li= dasheth
    h3= bitfinex
    ul
      li= dashusd
      li= dashbtc2
    h3= kraken
    ul
      li= dashusd2
      li= dashbtc3
      li= btcusd
      li= ethusd

